<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2021 Feng Group</p>
			<p>This website is open source and hosted on <a href="https://github.com/fenggroup/fenggroup.github.io">our GitHub repository</a>.
		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Links:<br />
		  <a href="https://twitter.com/fenggroup">Twitter</a> <br />
		  <a href="https://github.com/fenggroup">GitHub</a> <br />
		  
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  Fred Feng (fredfeng@umich.edu)<br />
		  4901 Evergreen Rd<br />
		  Dearborn, MI 48128, USA<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
